/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap'); */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.show-on-scroll {
  opacity: 1 !important;
  transform: none !important;
  transition: opacity 0.7s cubic-bezier(0.4,0,0.2,1), transform 0.7s cubic-bezier(0.4,0,0.2,1);
}
    .line-top {
        width: 120px;
        height:60px;
        z-index: -1;
        background: transparent;
        border: none;
        border-top: dashed 2px orange;
        padding: 40px 40px;
        border-radius: 50%;
        margin: 20px -50px 0;
    }

    *:focus {
        outline: none;
    }

.indent {
    text-indent: 30px;
}

:host {
  display: block;
}

.img-box {
  width: 200px;      /* your desired width */
  height: 200px;     /* your desired height */
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;  /* fills the box, crops edges if needed */
  object-position: center;
}